<!--
  Generated template for the AddTyrePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>AddTyre</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="logo ">
    <img class="logo-image" src="assets/icon/TELogo.png" alt="logo" style=""/>
    <!-- <h1>TyreRepo</h1> -->
</div>
<form class="form-signin formRegisterClass" action="#">
    <div class="form-group">
        <input style="font-size:15px; height:50px; width:100%; opacity:0.7;" type="text" class="form-control" placeholder="Tyre Number"  autofocus [(ngModel)]="tyreList.tyreNumber" [ngModelOptions]="{standalone: true}" required/>
    </div>
    <div class="form-group">
            <input list="browsers" name="myBrowser" placeholder="Tyre House" class="form-control" style="font-size:15px; height:50px; width:100%; opacity:0.7;" [(ngModel)]="tyreList.tyreHouse" [ngModelOptions]="{standalone: true}" required/>
            <datalist id="browsers">
              <option *ngFor="let item of tyreListRef$ | async" value="{{item.tyreHouse}}">
            </datalist>
            </div>
<div class="form-group">
    <input style="font-size:15px; height:50px; width:100%; opacity:0.7" type="number" class="form-control" placeholder="Price"  [(ngModel)]="tyreList.tyrePrice" [ngModelOptions]="{standalone: true}" required/>
</div>
<div class="form-group">
    <input style="font-size:15px; height:50px; width:100%; opacity:0.7" type="date" class="form-control" name="Date" placeholder="Date"  [(ngModel)]="tyreList.purchesDate" [ngModelOptions]="{standalone: true}" required/>
</div>
<script type="text/javascript">
    document.getElementById('Date').value = new Date().toDateInputValue();
  </script>
</form>

<div class="or-box">
    <div class="row" style="padding:10px">
            
            <ion-grid>
                    <ion-row>
                            <ion-col col-12>
                            <button  class=" purple-bg"  type="submit" ion-button  block (click)="addTyreList(tyreList)" >Add</button>
                            </ion-col>
                    </ion-row>
                    <ion-row>

                    </ion-row>
            </ion-grid>
            </div>
            <p ion-text color="danger" *ngIf="hasError">{{errorMessage}}</p>
</div>
</ion-content>
